<!-- home.html -->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - E-commerce</title>
</head>
<body>
    <!-- Display Categories -->
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{message}}

    {% endfor %}
    <h2>Categories</h2>
    <div>
        {% for category in categories %}
        <div><a href="{% url 'category_detail' category.slug %}">
            <div>
                <img src="{{ category.category_image.url }}" alt="Image 1" height="200px" width="200px">
                
        
            </div>{{ category.category_name }}</a></div>
        {% endfor %}
        </div>
       
    

   
</body>
</html>